@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BroLink";
  src: url("./assets/fonts/BrolinkDemo-VGyMZ.otf");
}

::-webkit-scrollbar {
  height: 3px;
  width: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
